{"swagger":"2.0","info":{"title":"Swagger","description":"This is a generated Open API Spec","termsOfService":"https://swagger.io/terms/","contact":{"email":"apiteam@swagger.io"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0.0"},"schemes":["http"],"host":"carts.sock-shop:80","paths":{"/carts/olnzz4SBrDqfWICAtnRybqbpKoKzzLah/items":{"get":{"responses":{"200":{"description":"response","schema":{"items":{"type":"string"},"type":"array"}},"default":{"description":"default"}}}},"/carts/{param1}/items":{"get":{"responses":{"500":{"description":"response","schema":{"$ref":"#/definitions/error_exception_message_path_status_timestamp"}},"default":{"description":"default"}}},"parameters":[{"in":"path","name":"param1","required":true,"type":"string"}],"post":{"consumes":["application/json"],"parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/itemId_unitPrice"}}],"responses":{"500":{"description":"response","schema":{"$ref":"#/definitions/error_exception_message_path_status_timestamp"}},"default":{"description":"default"}}}},"/carts/{param1}/merge":{"get":{"parameters":[{"in":"query","name":"sessionId","type":"string"}],"responses":{"500":{"description":"response","schema":{"$ref":"#/definitions/error_exception_message_path_status_timestamp"}},"default":{"description":"default"}}},"parameters":[{"in":"path","name":"param1","required":true,"type":"string"}]}},"definitions":{"error_exception_message_path_status_timestamp":{"properties":{"error":{"type":"string"},"exception":{"type":"string"},"message":{"type":"string"},"path":{"format":"json-pointer","type":"string"},"status":{"format":"int64","type":"integer"},"timestamp":{"format":"int64","type":"integer"}},"type":"object"},"itemId_unitPrice":{"properties":{"itemId":{"type":"string"},"unitPrice":{"type":"number"}},"type":"object"}}}
