{"swagger":"2.0","info":{"title":"Swagger","description":"This is a generated Open API Spec","termsOfService":"https://swagger.io/terms/","contact":{"email":"apiteam@swagger.io"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0.0"},"schemes":["http"],"host":"catalogue.sock-shop:80","paths":{"/catalogue":{"get":{"parameters":[{"format":"int64","in":"query","name":"page","type":"integer"},{"format":"int64","in":"query","name":"size","type":"integer"},{"in":"query","name":"sort","type":"string"},{"allowEmptyValue":true,"in":"query","name":"tags","type":"boolean"}],"responses":{"200":{"description":"response","schema":{"items":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag_1"},"type":"array"}},"default":{"description":"default"}}}},"/catalogue/%2F/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/%2F/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/%2FWEB-INF%2Fweb.xml/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/%2Fetc%2Fpasswd/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/%2Fetc%2Fpasswd/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/%2Fthishouldnotexistandhopefullyitwillnot":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/%5CWEB-INF%5Cweb.xml":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/%5CWEB-INF%5Cweb.xml/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/..%2FWEB-INF%2Fweb.xml":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/..%2FWEB-INF%2Fweb.xml/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/..%5CWEB-INF%5Cweb.xml":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/..%5CWEB-INF%5Cweb.xml/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/WEB-INF%2Fweb.xml/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/WEB-INF%5Cweb.xml/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/Windows%2Fsystem.ini/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/Windows%2Fsystem.ini/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/Windows%5Csystem.ini/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/Windows%5Csystem.ini/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%2F/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%2F/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%2FWindows%2Fsystem.ini":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%2FWindows%2Fsystem.ini/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%2FWindows%2Fsystem.ini/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%2FWindows%2Fsystem.ini/param1/cards":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%5C/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%5C/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%5CWindows%5Csystem.ini":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%5CWindows%5Csystem.ini/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%5CWindows%5Csystem.ini/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/c:%5CWindows%5Csystem.ini/param1/cards":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/c:%2FWindows%2Fsystem.ini":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/c:%2FWindows%2Fsystem.ini/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/c:%2FWindows%2Fsystem.ini/cards":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/param1/c:%2FWindows%2Fsystem.ini":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/param1/cards":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/customers/param1/{param1}":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}},"parameters":[{"format":"int64","in":"path","name":"param1","required":true,"type":"integer"}]},"/catalogue/customers/{param1}":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}},"parameters":[{"format":"int64","in":"path","name":"param1","required":true,"type":"integer"}]},"/catalogue/customers/{param1}/cards":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}},"parameters":[{"in":"path","name":"param1","required":true,"type":"string"}]},"/catalogue/d:%2F/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/d:%2F/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/d:%2FWindows%2Fsystem.ini/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/d:%2FWindows%2Fsystem.ini/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/d:%5C/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/d:%5C/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/d:%5CWindows%5Csystem.ini/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/d:%5CWindows%5Csystem.ini/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/etc%2Fpasswd/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/etc%2Fpasswd/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/login":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/size":{"get":{"parameters":[{"allowEmptyValue":true,"in":"query","name":"tags","type":"boolean"}],"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/err_size"}},"default":{"description":"default"}}}},"/catalogue/thishouldnotexistandhopefullyitwillnot":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/thishouldnotexistandhopefullyitwillnot/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}}},"/catalogue/{param1}":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag_0"}},"default":{"description":"default"}}},"parameters":[{"in":"path","name":"param1","required":true,"type":"string"}]},"/catalogue/{param1}/param1":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}},"parameters":[{"in":"path","name":"param1","required":true,"type":"string"}]},"/catalogue/{param1}/param1/addresses":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}},"parameters":[{"in":"path","name":"param1","required":true,"type":"string"}]},"/catalogue/{param1}/param1/cards":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/count_description_id_imageUrl_name_price_tag"}},"default":{"description":"default"}}},"parameters":[{"in":"path","name":"param1","required":true,"type":"string"}]},"/tags":{"get":{"responses":{"200":{"description":"response","schema":{"$ref":"#/definitions/err_tags"}},"default":{"description":"default"}}}}},"definitions":{"count_description_id_imageUrl_name_price_tag":{"properties":{"count":{"format":"int64","type":"integer"},"description":{"type":"string"},"id":{"type":"string"},"imageUrl":{"type":"string"},"name":{"type":"string"},"price":{"format":"int64","type":"integer"},"tag":{"type":"string"}},"type":"object"},"count_description_id_imageUrl_name_price_tag_0":{"properties":{"count":{"format":"int64","type":"integer"},"description":{"type":"string"},"id":{"type":"string"},"imageUrl":{"items":{"format":"json-pointer","type":"string"},"type":"array"},"name":{"type":"string"},"price":{"type":"number"},"tag":{"items":{"type":"string"},"type":"array"}},"type":"object"},"count_description_id_imageUrl_name_price_tag_1":{"properties":{"count":{"format":"int64","type":"integer"},"description":{"type":"string"},"id":{"format":"uuid","type":"string"},"imageUrl":{"items":{"format":"json-pointer","type":"string"},"type":"array"},"name":{"type":"string"},"price":{"type":"number"},"tag":{"items":{"type":"string"},"type":"array"}},"type":"object"},"err_size":{"properties":{"err":{"type":"string"},"size":{"format":"int64","type":"integer"}},"type":"object"},"err_tags":{"properties":{"err":{"type":"string"},"tags":{"items":{"type":"string"},"type":"array"}},"type":"object"}}}
